@import "../../variables";

.jumbotronContainer{
    width: 100%;
}

.searchIconContainer{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.searchIcon{
    cursor: pointer;
    align-self: center;
}

.searchResultsContainer{
    padding-top: 20px;
}

.jumbotron{
    color: $jumbotron-background;
}

.jumbotron > *{
    color: $jumbotron-text;
}